<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DPDCloudService_v1Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="DPDCloudService_v1Soap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://cloud.dpd.com/services/v1/DPDCloudService.asmx"
                binding="basicHttpBinding" bindingConfiguration="DPDCloudService_v1Soap"
                contract="DPDCloudService.DPDCloudService_v1Soap" name="DPDCloudService_v1Soap" />
        </client>
    </system.serviceModel>
</configuration>